{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %} <title>Local Library</title>{% endblock %}
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	{% include 'catalog/lib/_styles.html' %}

</head>
<body>
<div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
        
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
        {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
        {% endif %} 

          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'books' %}">All books</a></li>
          <li><a href="{% url 'authors' %}">All authors</a></li>
      </ul>

      {% if user.is_staff %}
       <hr />
       <ul class="sidebar-nav">
       <li>Staff</li>
       {% if perms.catalog.can_mark_returned %}
       <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
       {% endif %}
       </ul>
      {% endif %}
      
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
	      {% block content %}{% endblock %}
	       {% include 'catalog/lib/_pagination.html' %}

      </div>
    </div>

  </div>
  {% block javascript %}
    {% include 'catalog/lib/_scripts.html' %}

    <script>
      $( function() {

    $( "#title" ).autocomplete({
      minLength:2,
      source:function (req, add){
          var search = $("#title").val();
          $.ajax({
              url:'{% url 'book_title' %}',
              dataType:'json',
              type:'GET',
              data:{'start':search},
              success:function (data) {
                  var suggestions=[];
                  $.each(data, function (index,objects) {
                      suggestions.push(objects);
                  });
                  add(suggestions);
              },
              error:function (err) {
                  console.log(err);

              }
          });
      }


    });
});
    </script>
  {% endblock%}
</body>
</html>